.App {
    margin-top: 1.5em;
}

.navbar-dark .navbar-brand {
    color: #fec503;
}

.navbar-dark .nav-item {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-dark .nav-item .nav-link, .navbar-dark .nav-item, .navbar-dark .navbar-brand:focus{
    color: #fec503;
}


.navbar-brand {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: 20px;*/
    font-weight: 400;
    letter-spacing: 1px;
}

